body {
  background-color: #D8BFAA;
}

#1 {
  background-color:
}

.jumbotron {
  background-color: #BFD1E5;
}

#destinations {
  background-color: #EBF5EE;
  margin: 10px;
  padding: 20px;
}



/* #BFD1E5, #542344, #EBF5EE, #D8BFAA, #808080 */