body {
  background-color: #D8BFAA;
}

.jumbotron {
  background-color: #BFD1E5;
}

#destinations {
  background-color: #EBF5EE;
  margin: 10px;
  padding: 20px;
}

.col-md-6 {
  padding-bottom: 35px;
}

.col-md-6 img {
  padding-bottom: 25px;
}

.card {
  min-height: 800px
}
/* #BFD1E5, #542344, #EBF5EE, #D8BFAA, #808080 */